@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.container{
    background-image: url("/bg.jpg");
    width: 50%;
    margin: 25px;
    padding: 10px;

}
h1{
    color: white;
    font-size: 36px;
    margin: 10px;
    padding: 20px;
}


p{
   color: azure;
   
}
.social-media {
   
    width: 100%;
    margin: 10px;
    padding: 10px;
   
}

.social-media i {
    background-color: #6a3093;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;

}
 

.social-media i:hover {
    background-color: #a044ff;
}